/* site desenvolvido por VINICIUS SANTOS */
/* entre em contato por @vinisantoszx*/

.text-services {
    margin-top: 20px;
    margin-bottom: 10px;
}

.text-services h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}


.card-container {
    width: 1200px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-box{
    padding: 10px 20px;
}

.full-width-card {
    width: 100%;

    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: max-height 0.3s ease;

    overflow: hidden;

    background-color: #fff;
}

.card-header {
    color: white;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;

    background-color: #cb7246;
}

.card-header h2 {
    font-size: 18px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.card-body {
    padding: 15px;
    max-height: 10px;
    transition: max-height 0.3s ease;

    overflow: hidden;
}

.card-body h2 {
    font-size: 18px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.card-body p {
    font-size: 16px;
    line-height: 1.2;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;

    margin: 6px 0px;
}

.card-body.expanded {
    max-height: 500px;
}