.card-container {
    width: 1200px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-box{
    padding: 10px 20px;
}

.full-width-card {
    width: 100%;

    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: max-height 0.3s ease;

    overflow: hidden;

    background-color: #fff;
}

.card-header {
    color: white;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;

    background-color: #cb7246;
}

.card-body {
    padding: 15px;
    max-height: 0;
    transition: max-height 0.3s ease;

    overflow: hidden;
}

.card-body h1 {
    font-weight: bolder;
}

.card-body.expanded {
    max-height: 500px;
}