/* site desenvolvido por VINICIUS SANTOS */
/* entre em contato por @vinisantoszx*/

main {
    display: flex;
    flex-direction: column;
    
    overflow-x: hidden;
}

.text-services {
    margin-top: 20px;
}

.text-services h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.text-services p {
    font-size: 16px;
    margin: 10px 20px 10px 20px;
    text-align: justify;
    
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.img-history {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que as imagens quebrem para a próxima linha */
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-history img {
    width: 20vw; /* Tamanho das imagens */
    height: auto; /* Mantém a proporção */
    margin: 10px 5px; /* Espaço entre as imagens */
}

ul.checklist {
    margin: 10px 20px;

    list-style-type: none;
    padding: 0;
}

ul.checklist li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.checkmark {
    width: 16px;
    height: 16px;

    display: inline-block;
    position: relative;

    background-color: #9acd32;
    border-radius: 50%;

    margin-right: 10px;
}   

.checkmark:hover {
    background-color: #9acd32;
}

.checkmark::after {
    width: 8px;
    height: 8px;

    position: absolute;
    content: '';
    display: block;
    border-radius: 50%;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
}

@media (max-width: 999px) {
    .img-history {
        flex-direction: column; /* Alinha as imagens em coluna */
        align-items: center; /* Centraliza as imagens */
    }

    .img-history img {
        width: 80%; /* Tamanho das imagens na coluna */
        margin: 10px 0; /* Espaço entre as imagens */
    }
}