/* site desenvolvido por VINICIUS SANTOS */
/* entre em contato por @vinisantoszx*/

/* CARROSSEL - DESKTOP */
.carossel {
    width: 100%;
    height: 400px;
    max-width: 1920px;

    position: relative;

    overflow: hidden;
}

.carossel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carossel-inner img {
    width: 100%;
    height: 400px;

    object-fit: cover;
}

.carossel-control {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;

    z-index: 1;

    background: rgba(0, 0, 0, 0.5);
}

.carossel-control.prev {
    left: 0;
}

.carossel-control.next {
    right: 0;
}

.carossel-indicators {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;

    transform: translateX(-50%);
    gap: 10px;
}

.carossel-indicator {
    width: 10px;
    height: 10px;

    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;

    background-color: #fff;
}

.carossel-indicator.active {
    background-color: #9acd32;
}

/* CARDS DE SERVIÇOS */
.text-services {
    width: 100%;
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #eee;
}

.text-services h1 {
    font-size: 24px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.cards-services {
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: #eee;
}

.card {
    width: 250px;
    height: 120px;
    padding: 20px;
    text-align: center;

    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    background-color: #fff;
}

.card h3 {
    margin-bottom: 10px;
    color: #333;
    
    text-transform: uppercase;
    font-size: 16px;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.btn {
    display: inline-block;
    padding: 10px 15px;

    color: #fff;

    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    text-transform: uppercase;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;

    background-color: #9acd32;
}

.btn:hover {
    background-color: #689411;
}

/* Contêiner principal */
.container-others {
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Quadro de Aniversariantes */
.birthday-board {
    width: 100%;
    max-width: 500px;
    height: auto;

    position: relative;
    overflow: hidden;

    margin: 20px 40px;
    padding: 20px;

    background: #eee;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid #9acd32;
    flex-grow: 1;
}

/* Cabeçalho com o gradiente verde */
.birthday-header {
    background: linear-gradient(90deg, #9acd32, #689411);

    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;

    color: #ffffff;
    font-size: 1.2em;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

/* Lista de Aniversariantes */
.birthday-list {
    list-style: none;
    padding: 0;
    margin: 0;

    color: #333;
    font-size: 1em;
    line-height: 1.8;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.birthday-list li {
    margin: 5px 0;
    font-size: 1.1em;
}

.birthday-list strong {
    color: #689411; /* Verde mais escuro para destaque */
}

/* Carrossel de Gestão */
.carrossel-container {
    width: 100%;
    max-width: 600px; /* Largura máxima do carrossel */
    overflow: hidden;
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    flex-grow: 1; /* Faz o carrossel crescer proporcionalmente */
}

.carrossel-gestao {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 0;
}

.carrossel-gestao img {
    width: 100%; /* Ajusta a imagem ao tamanho do carrossel */
    height: 400px; /* Altura fixa para as imagens */
    object-fit: cover;
}

/* Botões de Navegação */
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

button.prev {
    left: 0px;
}

button.next {
    right: 0px;
}


/* MAIS INFO */
.text-info {
    width: 100%;
    height: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
}

.text-info h1 {
    font-size: 24px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.container {
    width: 100%;
    height: auto;

    display: flex;
    
    overflow: hidden;
}

.card-info {
    width: 150vw;
    height: 300px;
    margin: 0 40px;

    box-sizing: border-box;
    border-radius: 10px;
    position: relative;

    overflow: hidden;
}

.card-info iframe {
    width: 100%;
    height: 100%;

    display: block;

    border: 0;
}

.content {
    padding: 20px;
    box-sizing: border-box;
    flex-grow: 1;
}

.content h2 {
    font-size: 24px;

    margin-left: 40px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.content p {
    margin-top: 10px;
    padding: 0px 40px 10px 40px;

    font-size: 16px;
    text-align: justify;

    line-height: 1.25;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

/* RESPONSIVIDADE - MOBILE*/
@media (max-width: 999px) {
    .nav-list {
        display: none;
    }

    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-info {
        height: 300px;
        width: 80%;
    }

    .container-others {
        justify-content: space-between;
        align-items: center;
        justify-content: center;
    }

    /* Ajuste do Quadro de Aniversariantes */
    .birthday-board {
        max-width: 450px;
        margin: 10px 20px;
    }

    /* Ajuste do Carrossel */
    .carrossel-container {
        max-width: 550px;
    }
}

@media (max-width: 659px) {
    .carossel {
        height: auto;
    }

    .carossel-inner img {
        height: 200px;

        object-fit: fit;
    }

    .cards-services {
        height: 360px;
        gap: 20px;

        flex-direction: column;
    }
    
    .container {
        height: auto;
    }

    .card {
        width: 300px;
        height: 120px;
    }

    .card-info {
        height: 200px;
    }

    .content p {
        padding: 0px 20px 10px 20px;
    }

    .content h2 {
        margin-left: 20px;
    }

    .container-others {
        flex-direction: column;
        align-items: center;
    }

    .birthday-board {
        width: auto;
        margin: 10px 20px;
        padding: 15px;
    }

    .carrossel-container {
        margin-top: 15px;

        width: auto;
        margin: 10px 20px;
    }

    .carrossel-gestao img {
        height: 290px;
    }
}