/* site desenvolvido por VINICIUS SANTOS */
/* entre em contato por @vinisantoszx*/

.main-menu {
    height: 15vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #ffffff;
    border-bottom: #9acd32 2px solid;

    overflow-x: hidden;

    z-index: 1000;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.link-nav {
    color: #9acd32;
    text-decoration: none;
    transition: 0.3s;
}

.link-nav:hover {
    opacity: 0.7;
}

.image-logo {
    height: 8vh;

    transition: 0.3s;
}

.image-logo:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;

    margin: 8px;
    transition: 0.3s;

    background-color: #9acd32;
}


/* BREAKROW - UNIDADES ESCOLARES */
#break-school {
    display: none;
}

@media (max-width: 1200px) and (min-width: 1000px){
    #break-school {
        display: block;
    }
}


@media (max-width: 999px) {
    .nav-list {
        width: 100vw;
        height: 60vh;

        position: absolute;
        top: 15vh;
        right: 0;
        padding-bottom: 20px;

        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
        border-bottom: #9acd32 2px solid;
        
        transform: translateY(-130%);
        transition: transform 0.4s ease-in;

        background-color: #fcfcfc;

        z-index: 99;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.dropdown-menu{
    display: none;
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
